/*Variables de estilos de botones*/

.BtnDark,.BtnBlue,.BtnGreen,.BtnPink,.BtnPurple,.BtnWhite,.BtnDelete {
    font-family: var(--title);
    border: none;
    padding: .5rem 1rem;
    width: auto;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-decoration-line: none;
    cursor: pointer;
}
.BtnDark{
    color: white;
    background-color: var(--black);
    
}
.BtnPurple{
    color: white;
    background-color: var(--purple);
    
}
.BtnPink{
    color: white;
    background-color: var(--fusia);
   
}
.BtnWhite{
    color: var(--black);
    background-color: white;
    
}
.BtnBlue{
    color: white;
    background-color: var(--blue);
    
}
.BtnGreen{
    color: white;
    background-color: var(--green);
}
.BtnDelete{
    color: white;
    background-color: var(--black);
}
.BtnDark:hover,.BtnPurple:hover{
    background-color: var(--gray);
    color: white;
    transition: ease-in .3s;
}
.BtnGreen:hover{
    background-color: #349748;
    color: white;
    transition: ease-in .3s;
}
.BtnBlue:hover{
    background-color: #4097f4;
    color: white;
    transition: ease-in .3s;
}
.BtnPink:hover{
    background-color: #c0026d;
    color: white;
    transition: ease-in .3s;
}
.BtnWhite:hover{
    background-color: #d8d7d7;
    color: var(--black);
    transition: ease-in .3s;
}
.BtnDelete:hover{
    background-color: rgb(201, 38, 38);
    color: white;
    transition: ease-in .3s;
}
.BtnRounded{
    padding: 5px;
    color:var(--black);
    background-color: transparent;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}
.BtnRounded:hover{
    background-color: var(--fusia);
    border-color: var(--fusia);
    color: white;
}

/* @media (min-width:480px) {
    .BtnDark,.BtnBlue,.BtnGreen,.BtnPink,.BtnPurple,.BtnWhite{
        font-size: .9rem;
    }
}
@media (min-width:1024px) {
    .BtnDark,.BtnBlue,.BtnGreen,.BtnPink,.BtnPurple,.BtnWhite,.BtnDelete{
        font-size: 1.2rem;
    }
} */
