@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --black: #212121;
    --secundary: #AEADF0;
    --primary: #7876E6;
    --green: #4EBA63;
    --yellow: #222;
    --blue: #40C8F4;
    --fusia: #ED1C91;
    --purple: #7C51A1;
    --white: #FFF;
    --title: 'Comfortaa', cursive;
    --text:'Roboto', sans-serif;
  }

.blueInput{
    border: 3px solid var(--blue);
    border-radius: 0.8em;
    outline: none;
    padding: 1em;
    width: 20rem;
    font-family: var(--text);
}

.purpleInput{
    border: 3px solid var(--purple);
    border-radius: 0.8em;
    outline: none;
    padding: 1em;
    width: 20rem;
    font-family: var(--text);
}

.blackInput{
    border: 3px solid var(--black);
    background-color: var(--white);
    border-radius: 0.8em;
    outline: none;
    padding: 1em;
    width: 20rem;
    font-family: var(--text);
}


@media (min-width: 768px) {
    .blueInput{
        padding: 1.2em;
        width: 24rem;
    }
    
    .purpleInput{
        padding: 1.2em;
        width: 24rem;
    }
    
    .blackInput{
        padding: 1.2em;
        width: 24rem;
    }
}

@media (min-width: 992px) {
    .blueInput{
        padding: 1.4em;
        width: 28rem;
    }
    
    .purpleInput{
        padding: 1.4em;
        width: 28rem;
    }
    
    .blackInput{
        padding: 1.4em;
        width: 28rem;
    }
    
}

@media (min-width: 1400px) {
    .blueInput{
        padding: 1.4em;
        width: 28rem;
    }
    
    .purpleInput{
        padding: 1.4em;
        width: 28rem;
    }
    
    .blackInput{
        padding: 1.4em;
        width: 28rem;
    }
}