:root {
    --black: #212121;
    --light-violet: #AEADF0;
    --violet: #7876E6;
    --green: #4EBA63;
    --yellow: #222;
    --blue: #40C8F4;
    --fusia: #ED1C91;
    --purple: #7C51A1;
    --gray:#2a2a2a;
  }
  