@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
:root {
    --black: #2a2a2a;
    --secundary: #AEADF0;
    --primary: #7876E6;
    --gray: #7a7a7a;
    --green: #4EBA63;
    --yellow: #FFF200;
    --blue: #40C8F4;
    --fusia: #ED1C91;
    --purple: #7C51A1;
    --title: 'Comfortaa', cursive;
    --text:'Roboto', sans-serif;
    
  }
  