@import "../../styles/Vars.css";
     
   .footer{
            /* border: 1px solid #0000ff; */
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(1,1fr);
            text-align: center;
            background-color: var(--black);
            text-align: center;
            color: white;
            padding: 10px;
            
        }
        .containers{
            /* border: 1px solid red; */
            padding: 10px;
    
        }
        .footer a{
            text-decoration: none;
            font-size: 30px;
            padding: 10px;
            color: white;

        }
        .fa-blackberry{
            padding: 2px;
        }
       
     
        .logo_vased{
            width: 5rem;
            display: block;
        }

       .c3{
           flex-direction: column;
       }

       .c2{
           display: flex !important;
           justify-content: space-around !important;
           align-items: center;
           flex-direction: column;

       }
      
       .styles.image{
           display: flex;
       }
       
        @media (min-width: 500px) {
            .footer{
                grid-template-columns: repeat(2,1fr);
            }
.c2{
    flex-direction: row;
}
        }