@import "../../styles/Vars.css";
     
   .footer{
            /* border: 1px solid #0000ff; */
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(1,1fr);
            text-align: center;
            background-color: var(--black);
            text-align: center;
            color: white;
            padding: 10px;
        }
        .containers{
            /* border: 1px solid red; */
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer a{
            text-decoration: none;
            font-size: 30px;
            padding: 10px;
            color: white;

        }
        .fa-blackberry{
            padding: 2px;
        }
       
        .vased{
            font-size: 30px;
        }
        .logo_vased{
            width: 5rem;
        }
       .c3{
           flex-direction: column;
       }
       
        @media (min-width: 500px) {
            .footer{
                grid-template-columns: repeat(3,1fr);
            }

        }