@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

        :root{
            --color-fondo: #7876e6;
        }
   .footer{
            /* border: 1px solid #0000ff; */
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(1,1fr);
            text-align: center;
            background-color: var(--color-fondo);
            text-align: center;
            color: white;
            padding: 10px;
        }
        .contenedores{
            /* border: 1px solid red; */
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer a{
            text-decoration: none;
            font-size: 30px;
            padding: 10px;
            color: white;

        }
        .fa-blackberry{
            padding: 2px;
        }
        /* .footer a i{
            display: block;
            border: 1px solid red;
            width: 30px;
            height: 30px;
        } */
        .vased{
            font-size: 30px;
        }
       .c3{
           flex-direction: column;
       }
       
        @media (min-width: 500px) {
            .footer{
                grid-template-columns: repeat(3,1fr);
            }

        }