.UserDetailsContainer, .UserNoDetailsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: transparent;
    width: 100%;
    gap: 10px;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 15%);
    font-family: var(--title);
}
.UserNoDetailsContainer{
    flex-direction: column;
    text-align: center;
}
.miniCards{
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    height: auto ;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.miniCards::-webkit-scrollbar{
    width: 5px;
}
.miniCards::-webkit-scrollbar-track, .boxScroll::-webkit-scrollbar-track{
background-color:  #7a7a7a72;
border-radius: 10px;
}
.miniCards::-webkit-scrollbar-thumb{
background-color: var(--yellow);
border-radius: 10px;
}

.UserNoDetailsContainer i{
    font-size: 100px;
    color: var(--gray);
}
.User{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    width: 100%;
}
.User p{
    font-weight: bold;
}
.Details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    width: 100%;
    
}
.Details p{
    font-weight: bold;
}

@media (max-width:800px) {
    .UserDetailsContainer{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .User{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
        width: 100%;
    }
    .Details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
        width: 100%;
        
    }
}