.formContainer {
    display: grid;
    justify-items: center;
    width: 100%;
}

.formFeedback{
    width: 100%;
    min-height: 80vh;
    display: grid;
    gap: 1rem;
}
.formFeedback h1{
    font-size: 1.5rem;
}

.formFeedback p{
    font-family: var(--text);
}

.form {
    width: 100%;
    display: grid;
    justify-items: center;
    padding: 0;
}

.flexItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.formItem {
    width: 100%;
    display: grid;
    margin: 0.5em 0 2em 0;
    gap: 0.2em;
    position: relative;
}

.formTitle, .formSubtitle,.formSubtitleLabel {
    font-family: var(--title);
    font-weight: bold;
}
.formTitle{
    font-size: 1.2rem;
}
.formSubtitle {
    font-size: 1rem;
    text-align: left;
    padding-bottom: .5rem;
}
.formSubtitleLabel {
    font-size: 0.9rem;
    display: flex;
    justify-content: start;
}
.errors {
    color: #ed1c91;
    font-size: .8rem;
    font-family: var(--title);
    font-weight: bold;
    position: absolute;
    bottom: -1.5rem;
}
.divContent{
    width: 100%;
    padding: 1rem 0;
}
.radioContent{
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.radioBtnB, .radioBtnG, .radioBtnP, .radioBtnY{
    width: 30px;
    height: 30px;
}
.radioBtnP {
    border: 2px solid red;
    accent-color: rgba(250, 15, 117);
}
.radioBtnB {

    accent-color: var(--blue);
}
.radioBtnG {

    accent-color: var(--green);
}
.radioBtnY {

    accent-color: var(--yellow);
}
.btnCenter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 992px) {
    .formTitle {
        font-size: 1.5rem;
        margin-bottom: 2.8rem;
    }
    .form {
        width: 100%;
        display: grid;
        justify-items: center;
        padding: 0 2rem;
    }
    .errors {
        font-size: 1rem;
    }
    
}
@media (min-width:1024px) {
    .flexItem {
        flex-direction: row;
        gap: 2rem;
    }
}

@media (min-width: 1400px) {
    .formSubtitle {
        font-size: 1.3rem;
    }

}