.formContainer{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 70%;
    background-color: white;
    padding: 1rem 0;
}

.form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6em;
}

.formItem{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6em;
    width: 100%;
    margin:1em 0 2em 0;
    position: relative;
}

.formTitle{
    font-family: var(--title);
    font-weight: 700;
}
.formSubtitle{
    font-family: var(--title);
    font-weight: 700;
}

/* .purpleInput{
    border: 3px solid var(--purple);
    border-radius: 0.8em;
    outline: none;
    padding: .6em;
    font-size: 1rem;
    font-family: var(--text);
    width: 17rem;
} */

.formRecover{
    font-family: var(--text);
    font-weight: 300;
    text-decoration: none;
    color: var(--black);
}

.errors{
    color: #ED1C91;
    font-family: var(--title);
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    bottom: -1.5rem;
}

@media (min-width: 992px) {
    .formTitle{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2.8rem;
    }
    .formSubtitle{
        font-size: 1.5rem;
    }
    .formRecover{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

@media (min-width:1024px) {
    .formContainer{
        height: 100%;
    }    
}

@media (min-width: 1400px) {
    
    .formSubtitle{
        font-size: 1.7rem;
    }
    .formRecover{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}