.card{
    -webkit-box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.37); 
    box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.37);
    font-family: var(--title);
    border-radius: 1rem;
    margin: 1rem 0; /* remove later in map */
}

.content{
    display: flex;
    flex-direction: column;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 1rem;
    border-bottom: 3px inset #29292925;
}

.bgBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: var(--green);
    padding: 1.5rem;
    min-height: 8rem;
    border-radius: 1rem 1rem;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0 0 0;
}
.bgBox h1{
    color: white;
    font-size: 1.5rem;
}
.bgBox p{
    color: white;
}
.textContent{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    width: 100%;
}
.text p{
    font-family: var(--text);
    font-size: .9rem;
    margin: 1rem 0;
    color: var(--black);
    max-height: 50%;
    overflow-y: auto;
}
.icon{
    width: 10%;
    font-size: 2rem;
    color: var(--black);
}
.expand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    padding: 1rem;
}

.activities{
    
    width: 90%;
    
}
.actTop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.miniCards{
    display: flex;
    align-items: stretch;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    height: auto ;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
/* Scroll styles*/
.miniCards::-webkit-scrollbar{
    width: 5px;
}
.miniCards::-webkit-scrollbar-track, .boxScroll::-webkit-scrollbar-track{
background-color:  #7a7a7a72;
border-radius: 10px;
}
.miniCards::-webkit-scrollbar-thumb{
background-color: var(--yellow);
border-radius: 10px;
}
.box{
    min-width: 200px;
    max-height: 100px;
}
.boxUser{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconBox:hover{
    color: red;
}
.users{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-bottom: 1rem;
}
.userTop{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}
.boxScroll{
    padding: 1rem;
    max-height: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Scroll styles*/
.boxScroll::-webkit-scrollbar{
    width: 3px;
}
.boxScroll::-webkit-scrollbar-thumb{
background-color: var(--black);
border-radius: 10px;
}


.barlaptop{
    display: none;
}
.bar{
    display: block;
}
.text p span{
    font-family: var();
}
@media (min-width:480px) {

    
}

@media (min-width:640px) {
    
    .actTop,.userTop{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }
}
@media (min-width:768px) {
    .content{
        display: flex;
        height: fit-content;
        flex-direction: row;
    }
    
    .bgBox{
        width: 30%;
        min-height: 8rem;
        border-radius: 1rem 0 0 1rem;
    }
    .textContent{
        width: 70%;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .text{
        width: 90%;
    }
    .text p{
        font-size: .9rem;
        padding-bottom: 1rem;
        color: var(--black);
    }

    .users{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .barlaptop{
        display: block;
    }
    .bar{
        display: none;
    }

}
@media (min-width:1024px) {
    .text p{
        max-height: auto;
        overflow-y: hidden;
    }
}