.modal {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(245, 245, 245, 0.362);
}

.modalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.modalColor {
    background: #F0F5F9;
    border: .2rem solid var(--black);
    border-radius: 1rem;
    width: 95%;
    height: max-content;
    position: relative;
    padding: 1rem;
}

.modalGreen{
    background: #F0F5F9;
    border: .2rem solid var(--green);
    border-radius: 1rem;
    width: fit-content;
    height: max-content;
    position: relative;
    padding: 1rem;
}
.modalRed{
    background: #F0F5F9;
    border: .2rem solid rgb(183, 11, 11);
    border-radius: 1rem;
    width: fit-content;
    height: max-content;
    position: relative;
    padding: 1rem;
}
.modalTop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ptBtn {
    position: absolute;
    top: -.1rem;
    right: -.1rem;
}

.modalIcon {
    font-size: 1rem;
}

.modalTitle {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--title);
    text-align: center;
}

.modalContent {

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title);
    text-align: center;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.modalContent::-webkit-scrollbar {
    width: 8px;
}

.modalContent::-webkit-scrollbar-track {
    background-color: #7a7a7a72;
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
}

@media (min-width:640px) {
    .modalColor {
        width: 80%;
    }
}

@media (min-width:768px) {
    .modalColor {
        width: 70%;
    }
}