@import '../../styles/Vars.css';

.form-container{
    display: grid;
    justify-items: center;
}

.form{
    display: grid;
    justify-items: center;
}

.form-item{
    display: grid;
    margin:1em 0 1em 0;
    gap: 0.6em;
}

.form-title{
    font-family: var(--title);
    font-weight: 700;
}

.form-recover{
    font-family: var(--text);
    font-weight: 300;
}