@import '../../styles/Vars.css';

.form-container{
    display: grid;
    justify-items: center;
}

.form{
    display: grid;
    justify-items: center;
}

.form-item{
    display: grid;
    margin:1em 0 1em 0;
    gap: 0.6em;
}

.form-title{
    font-family: var(--title);
    font-weight: 700;
}
.form-subtitle{
    font-family: var(--title);
    font-weight: 700;
}

.form-recover{
    font-family: var(--text);
    font-weight: 300;
    text-decoration: none;
    color: var(--black);
}

@media (min-width: 992px) {
    .form-title{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2.8rem;
    }
    .form-subtitle{
        font-size: 1.5rem;
    }
    .form-recover{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}

@media (min-width: 1400px) {
    
    .form-subtitle{
        font-size: 1.7rem;
    }
    .form-recover{
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}